<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz</title>

        <link rel="stylesheet" href="../style/css/index.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+Pro">
        <link rel="icon" href="../style/images/iconSite.png">
    </head>
    <body>
        <div style="display:none;" id="loader">
            <img id="loading" src="../style/images/loading.gif" alt="this slowpoke moves"  width="250" />
        </div>
        <ul id="navPrincipal">
            <li><label id="tituloSite">Turistando</label></li>
            <li><a href="index.html">Principal</a></li>
            <li class="active"><a href="aboutUs.html">Sobre nós</a></li>
            <li style="float:right"><a href="">Entrar</a></li>
            <li style="float:right"><a href="">Cadastrar-se</a></li>
        </ul>
        <div id="about-screen">
            <h2 style="text-align: center;"><b>Sobre nós</b></h1>
            <p>Este projeto tem o intuito de facilitar as escolhas de viagens dos usuários através da resposta de um questionário.</p>
            <p>Participantes do projeto :</p>
            <p>Arthur Maloyama</p>
            <p>Larissa Dias</p>
            <p>Lucas Losano</p>
            <p>Rafael Pignatari</p>
        </div>
        <script src="../js/metodos-APIs.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>