<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Partiu!!</title>
    </head>
    <body>
        <h1>Partiu!!</h1>
        <p>Preencha as informações abaixo e receba informações de preços e datas para sua viagem:</p>
        <div id = "formularioDeViagem0"></div>
        
        <div id="formularioDeViagem">
            <!-- <div id="moeda1">
                <label>Moeda</label>
                <input type="text" name="moeda1" size="40"><br><br> 
            </div> -->
            <div id="IATAOrigem">           
                <label>Código IATA do Local de Origem (Obrigatório)</label>
                <input type="text" name="IATAOrigem" size="40"><br><br>
            </div>
            <div id="IATADestino"> 
                <label>Código IATA do Local de Destino (Obrigatório)</label>
                <input type="text" name="IATADestino" size="40"><br><br>
            </div>
            <div id="dataChegada">
                <label>Data de Chegada</label>
                <input type="text" name="dataChegada" size="40"><br><br>
            </div>
            <div id="dataPartida">
            <label>Data de Partida</label>
            <input type="text" name="dataPartida" size="40"><br><br>
            </div>

            <button id="pesquisar">Pesquisar</button>
            <button id="preencher">Preencher</button>
        </div>

        <script src="../js/adicionaFormularioDeViagem.js"></script>
        <script src="../js/metodos-APIs.js"></script>
    </body>
</html>