<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Opções de viagem</title>

        <link rel="stylesheet" href="../style/css/index.css">
        
    </head>
    <body>
        <ul id="navPrincipal">
            <li><label id="tituloSite">Turistando</label></li>
            <li class="active"><a href="index.html">Principal</a></li>
            <li><a href="aboutUs.html">Sobre nós</a></li>
            <li style="float:right"><a href="">Entrar</a></li>
            <li style="float:right"><a href="">Cadastrar-se</a></li>
        </ul>
        
        <div id="opcoesDeViagem">

        </div>
        <script src="../js/adicionaOpcoesDeViagem.js"></script>
    </body>
</html>