<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz</title>

        
    </head>
    <body>
        <form id="form-quiz">
            <div id="idioma"> 
                <label>Qual seu idioma de preferência?</label>
                <br>
                <input id="idiomaPortugues" name="idioma" type="radio" value="portugues" checked>
                <label for="portugues">Português</label>
                <br>
                <input id="idiomaIngles" name="idioma" type="radio" value="ingles">
                <label for="ingles">Inglês</label>
                <br>
                <input id="idiomaEspanhol" name="idioma" type="radio" value="espanhol">
                <label for="espanhol">Espanhol</label>
                <br>
                <input id="idiomaAlemao" name="idioma" type="radio" value="alemao">
                <label for="alemao">Alemão</label>
                <br>
                <input id="idiomaRusso" name="idioma" type="radio" value="russo">
                <label for="russo">Russo</label>   
                <span id="erroidioma" hidden>Escolha uma opção válida!</span>           
            </div>
            <div id="dinheiro">
                <label>Quanto dinheiro tenho disponível para essa viagem?</label>
                <br>
                <input id="dinheiroCinco" name="dinheiroDisponivel" type="radio" value="5000">
                <label for="cincoMil">R$5000</label>
                <br>
                <input id="dinheiroDez" name="dinheiroDisponivel" type="radio" value="10000">
                <label for="dezMil">R$10000</label>
                <br>
                <input id="dinheiroQuinze" name="dinheiroDisponivel" type="radio" value="15000">
                <label for="quinzeMil">R$15000</label>
                <br>
                <input id="dinheiroVinte" name="dinheiroDisponivel" type="radio" value="20000">
                <label for="vinteMil">R$20000</label>
                <br>
                <input id="dinheiroVinteCinco" name="dinheiroDisponivel" type="radio" value="25000">
                <label for="vinteCincoMil">R$25000</label>
                <span id="errodinheiro" hidden>Escolha uma opção válida!</span>  
            </div>  
            <div id="clima">
                <label>Clima de preferência?</label>
                <br>
                <input id="climaCalor" name="climaPreferencia" type="radio" value="calor" checked>
                <label for="calor">Calor</label>
                <br>
                <input id="climaAmeno" name="climaPreferencia" type="radio" value="ameno">
                <label for="ameno">Ameno</label>
                <br>
                <input id="climaFrio" name="climaPreferencia" type="radio" value="frio">
                <label for="frio">Frio</label>
                <span id="erroclima" hidden>Escolha uma opção válida!</span>  
            </div>
            <!-- <div>
                <label>Pergunta 4:</label>
                <input id="pergunta4">
            </div> -->
            <br>
            <button id="botaoTestar">Testar</button>
        </form>

        <script src="../js/valida-quiz.js"></script>
        <script src="../js/chamada-api.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>