body{
    background-image: url("../images/bgHome.jpg");
    background-repeat: no-repeat;
    font-family: "Source Sans Pro", sans-serif;
}

#loader {
    opacity:0.8;
    background-color:#111;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#loading {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#tituloSite{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.styledDiv{
    background-color: rgba(255,255,255,0.5);
    margin: 0;
    font-size: larger;
    border-radius: 15px;
    padding: 12px
}

.active {
    background-color: #04AA6D;
}

.botao {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.botao:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.botao:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
.botao {
    padding: 13px 50px 13px;
}
}

.principal{
    width: 666px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}