<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz</title>

        <link rel="stylesheet" href="../style/css/turistando.css">
        <link rel="stylesheet" href="../style/css/aboutUs.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+Pro">
        <link rel="icon" href="../style/images/iconSite.png">
    </head>
    <body>
        <ul id="navPrincipal">
            <li><label id="tituloSite">Turistando</label></li>
            <li><a href="index.html">Principal</a></li>
            <li class="active"><a href="aboutUs.html">Sobre nós</a></li>
            <li style="float:right"><a href="login.html">Entrar</a></li>
            <li style="float:right"><a href="cadastro.html">Cadastrar-se</a></li>
        </ul>
        <div class="styledDiv" id="about-screen" style="text-align: center;">
            <h2 style="text-align: center;"><b>Sobre nós</b></h1>
            <p>Este projeto tem o intuito de facilitar as escolhas de viagens dos usuários através da resposta de um questionário.</p>
            <br>
            <h2 style="text-align: center;"><b>Participantes</b></h1>
            <div class="container-about">
                <div class="line">
                    <div class="column-50">
                        <img src="../style/images/arthur.jpg" width="30%" height="35%">
                        <p>Arthur Maloyama</p>
                        <br>
                        <img src="../style/images/Losano.jpg" width="30%" height="35%">
                        <p>Lucas Losano</p>
                    </div>
                    <div class="column-50">
                        <img src="../style/images/Larissa.jpg" width="30%" height="35%">
                        <p>Larissa Dias</p>
                        <br>
                        <img src="../style/images/Rafael.jpg" width="30%" height="35%">
                        <p>Rafael Pignatari</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>