<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Partiu!!</title>

        <link rel="stylesheet" href="../style/css/turistando.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+Pro">
        <link rel="icon" href="../style/images/iconSite.png">
    </head>
    <body onload="verificaSessaoUsuario()">
        <ul id="navPrincipal">
            <li><label id="tituloSite">Turistando</label></li>
            <li class="active"><a href="index.html">Principal</a></li>
            <li><a href="aboutUs.html">Sobre nós</a></li>
            <div id="divUserAccess">
                <li style="float:right"><a href="login.html">Entrar</a></li>
                <li style="float:right"><a href="cadastro.html">Cadastrar-se</a></li>
            </div>
            <div id="divUserName">
                <li style="float:right"><label id="labelName"></label></li>
            </div>
        </ul>
        <div class="principal styledDiv">
            <h1>Partiu!!</h1>
            <p>Preencha as informações abaixo e receba informações de preços e datas para sua viagem:</p>
            <p>Estamos trabalhando para melhorar nosso sistema! Nesse momento para visualizar os códigos IATA <a href="https://www.trilhaseaventuras.com.br/siglas-dos-principais-aeroportos-do-mundo-iata/">Clique Aqui!</a></p>
            <div id="formularioDeViagem">
                <div id="IATAOrigem">           
                    <label>Código IATA do Local de Origem (Obrigatório)</label>
                    <input type="text" name="IATAOrigem" size="40"><br><br>
                </div>
                <div id="IATADestino"> 
                    <label>Código IATA do Local de Destino (Obrigatório)</label>
                    <input type="text" name="IATADestino" size="40"><br><br>
                </div>
                <div id="dataChegada">
                    <label>Data de Chegada</label>
                    <input type="date" name="dataChegada" size="40"><br><br>
                </div>
                <div id="dataPartida">
                    <label>Data de Partida</label>
                    <input type="date" name="dataPartida" size="40"><br><br>
                </div>
                <div>
                    <label>Cidade-País</label>
                    <input type="text" id="cidadePais" size="40" readonly><br><br>
                </div>

                <button class="center botao" id="pesquisar" style="margin: 10px">Pesquisar</button>
            </div>
        </div>

        <script src="../js/adicionaFormularioDeViagem.js"></script>
        <script src="../js/metodos-APIs.js"></script>
        <script src="../js/sessaoUsuario.js"></script>
    </body>
</html>