<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../style/css/turistando.css">
    <link rel="stylesheet" href="../style/css/formLoginCadastro.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+Pro">
    <link rel="icon" href="../style/images/iconSite.png">
</head>
<body>
    <ul id="navPrincipal">
            <li><label id="tituloSite">Turistando</label></li>
            <li><a href="index.html">Principal</a></li>
            <li><a href="aboutUs.html">Sobre nós</a></li>
            <li class="active" style="float:right"><a href="">Entrar</a></li>
            <li style="float:right"><a href="cadastro.html">Cadastrar-se</a></li>
        </ul>
        <h2 style="text-align: center;"><b>Entrar</b></h1>
            <div class="principal" id="principal">
                <form class="styledDiv" id="form-quiz" style="text-align: center;" onsubmit="fazLogin()">
                    <label for="login_cad">Digite seu Login</label>
                    <input id="login_cad" name="login_cad" required="required" type="text" maxlength = "10" placeholder="LoginTeste"/> 
                </p>
                <p> 
                    <label for="senha_cad">Digite sua Senha</label>
                    <input id="senha_cad" name="senha_cad" required="required"  type="password" maxlength = "10" placeholder="ex. 1234"/>
                </p>
                <p> 
                    <input type="submit" value="Entrar"/> 
                </p>
            </form>
        </div>
    </div>
    </div>
    <script src="../js/metodos-APIs.js"></script>
</body>
</html>