<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voos</title>

        <link rel="stylesheet" href="../style/css/turistando.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+Pro">
        <link rel="icon" href="../style/images/iconSite.png">
    </head>
    <ul id="navPrincipal">
        <li><label id="tituloSite">Turistando</label></li>
        <li class="active"><a href="index.html">Principal</a></li>
        <li><a href="aboutUs.html">Sobre nós</a></li>
        <li style="float:right"><a href="login.html">Entrar</a></li>
        <li style="float:right"><a href="cadastro.html">Cadastrar-se</a></li>
    </ul>
    <body>
        <div class="principal" id="Voos">
            <!-- <p1>Nada encontrado</p1> -->
        </div>
        <script src="../js/adicionaVoos.js"></script>
    </body>
</html>